//FONT-TYPE
$font-primary: 'Lato', sans-serif;

//FONT-SIZE
$fontSizeBasis: 16px; //Body
$fontSizeS: 0.875em; //ChineseName
$fontSizeM: 1.125em; //Name of the cities / Buttons
$fontSizeL: 1.5em; //Title

//COLOURS
//$whitePure: #FFFFFF; //Background
//$blackPure: #000000; //General typography
//$deepSkyBlue: #00BFFF; //Clear button
//$lightSlateGray: #778899; //X to clear individual item

//GENERAL SIZES (Change the names, please!)
// $15px: 0.938em;
// $20px: 1.250em;
// $25px: 1.563;
// $50px: 3.125em;
// $75px: 4.688em;
// $100px: 6.250em;
